<article class="tile" itemscope itemtype="http://schema.org/Article">
  {% if post.image.teaser %}
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser"><img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image">
    {% else %}{% if site.teaser %}
    <img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image"></a>
  {% endif %}
  {% endif %}
  {% if post.date %}<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endif %}
  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  <p class="post-excerpt" itemprop="description">{{ post.excerpt | strip_html | truncate: 160 }}</p>
</article><!-- /.tile -->
