<div class="inline-btn">
  <a class="btn-social twitter" href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;via={{ site.owner.twitter }}" target="_blank">{{ site.data.messages.locales[site.locale].share }} Twitter</a>
  <a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank">{{ site.data.messages.locales[site.locale].share }} Facebook</a>
  <a class="btn-social google-plus"  href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank">{{ site.data.messages.locales[site.locale].share }} Google+</a>
</div><!-- /.share-this -->
